<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 heading">
            <div class="text">
                <div class="drop-in">
                    <h1>Free, Real-time Flight Status & Global Aviation Data API</h1>
                    <h3>
                        Flight tracker & airport timetable data web service
                        trusted by 5.000+ of the smartest companies
                    </h3>
                </div>
                <div class="drop-in-2">
                    <div class="list d-flex flex-column">
                        <div class="item p-2">
                            <i class="bi bi-globe m-2"></i> 250+ countries and 13.000+ airlines
                        </div>
                        <div class="item p-2">
                            <i class="bi bi-lightning-charge-fill m-2"></i> Scalable REST API infrastructure
                        </div>
                        <div class="item link p-2">
                            <a class="btn" routerLink="/signup">Sign up free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="planeImage drop-in-right" >
                <img src="../../../assets/plane.png">
            </div>
        </div>
    </div>
</div>

