<div class="app" *ngIf="!isMobile;  else mobileBlock">
    <div id="preloader" *ngIf="preloader">
        <div class="circle-spinng">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <app-nav></app-nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
<ng-template #mobileBlock> 
    <div class="mobileBlock">
        <h2>This site not working in mobile devices</h2>
        <i class="bi bi-emoji-frown-fill"></i>
    </div>
</ng-template>