<div class="container">
  <div class="row">
    <div class="col-md-12 accordion-section">
      <div class="accordion accordion-flush my-5" id="accordionFlushExample">
        <h2>General</h2>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading1">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse1"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              What is Flighttry?
            </button>
          </h2>
          <div
            id="flush-collapse1"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading1"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              The Flighttry API was built to offer a simple and cost-effective
              way of accessing global flight tracking data in real-time. More
              than 5,000 companies worldwide are using Flighttry to power
              booking platforms, map visualizations and flight tracking
              applications.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading2">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse2"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Who runs the API?
            </button>
          </h2>
          <div
            id="flush-collapse2"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading2"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Flighttry is a product built and maintained by apilayer, a
              software company based in London, United Kingdom and Vienna,
              Austria. apilayer is the company behind popular API and SaaS
              products worldwide, including weatherstack, invoicely and
              eversign.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush my-5" id="accordionFlushExample">
        <h2>Aviation Data & API</h2>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading3">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse3"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              How scalable is this API?
            </button>
          </h2>
          <div
            id="flush-collapse3"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading3"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              The flighttry API is built on top of powerful, auto-scaling
              apilayer cloud infrastructure, making it capable of handling
              anything from a few thousands requests per month all the way to
              millions of calls per hour. This efficient setup allows for
              consistently quick API response times even during times of high
              throughput.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading4">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse4"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              How real-time is flighttry data?
            </button>
          </h2>
          <div
            id="flush-collapse4"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading4"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Status updates of global, real-time flights are delayed by as
              little as 30-60 seconds. This low delay and high frequency of data
              updates is made possible by a real-time data integration with one
              of the most sophisticated aviation data vendors on the market.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading5">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse5"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Which type of historical flight data is available?
            </button>
          </h2>
          <div
            id="flush-collapse5"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading5"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Our system provides global flight data for the last 3 months as a
              sliding window, enabling the aviationstack API to deliver granular
              historical flight data, including information about routes, flight
              numbers, location, dates, times, airports, terminals, gates,
              aircrafts, and much more. You can learn more by reading our
              <a routerLink="/docs">API documentation</a>.
            </div>
          </div>
        </div>
      </div>

      <div class="accordion accordion-flush my-5" id="accordionFlushExample">
        <h2>Plans, Pricing & Payment</h2>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading6">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse6"
              aria-expanded="false"
              aria-controls="flush-collapse6"
            >
            What is the difference between free and paid subscriptions?
            </button>
          </h2>
          <div
            id="flush-collapse6"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading6"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              The aviationstack Free Plan offers a way to implement the API in your application and try it out using real-time flight data.

              As soon as your use of the API requires a commercial license and a more advanced set of functionalities, such as historical data or airline routes, you can choose from one of the available paid subscriptions or contact us for a custom solution.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading7">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse7"
              aria-expanded="false"
              aria-controls="flush-collapse7"
            >
            Which subscription plan fits my needs?
            </button>
          </h2>
          <div
            id="flush-collapse7"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading7"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              The most decisive factor when it comes to your technical requirements is the number of API requests you need to make on a monthly basis. Other factors include license type, HTTPS encryption, access to airline routes, autocomplete features, historical data, and more.

              Signing up for the Free Plan is a great way of getting to know the API and implementing it without any commitments.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading8">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapse8"
              aria-expanded="false"
              aria-controls="flush-collapse8"
            >
            Which payment methods are supported?
            </button>
          </h2>
          <div
            id="flush-collapse8"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading8"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Payments can be made via credit card (Visa, MasterCard, Discover, Diner's Club, American Express). Enterprise and high-volume customers may request annual bank transfer payments to be enabled. You can change your payment method at any given time in the "Payment" section of your account dashboard.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
